<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Control panel</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="control.css">
</head>
<body>
    <div id="controls">
        <button id="mic" class="ctr" title="Toggle Microphone"><span class="material-symbols-outlined">mic</span></button>
        <button id="cam" class="ctr" title="Toggle webcam"><span class="material-symbols-outlined">videocam</span></button>
        <button id="speaker" class="ctr" title="Toggle Speaker"><span class="material-symbols-outlined">sound_detection_loud_sound</span></button>
    </div>
    
</body>
</html>